NEXT_PUBLIC_INTENT_CONTRACT=
NEXT_PUBLIC_ROUTER_CONTRACT=
NEXT_PUBLIC_FEE_ORACLE=
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_ADAPTER_AXELAR=
NEXT_PUBLIC_ADAPTER_LAYERZERO=
NEXT_PUBLIC_ADAPTER_WORMHOLE=
NEXT_PUBLIC_ADAPTER_HYPERLANE=
COINGECKO_API_KEY=
